doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/challenge.css')
    link(rel='shortcut icon', href='/images/favicon.png', type='image/png')
    script(src='/javascripts/socket.io.dev.js')
    script(src='/javascripts/index.js')
    link(rel='stylesheet', href='/javascripts/index.css')
    script.
       window.initialState = JSON.parse(`!{JSON.stringify(initialState)}`);
       window.playerId = !{playerId};
  body
    h1= title

    #game Loading...