doctype html
html
  head
    title= title
    link(rel='shortcut icon', href='/images/favicon.png', type='image/png')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block styles

  body
    block content
