extends layout

block content
  h1= title
  p Welcome to Dragonlands
  form.startConfig(action='/users/login',method='POST')
    fieldset
      label(for='username') Username
      input(name='username')
    fieldset
      label(for='password') Password
      input(name='password', type='password')

    .startButton
      button(type='submit',value='Enter') Enter
