extends layout

block content
  h1= title
  p Welcome to the game!

  div
    ul
      li
        a(href!='/api/game/' + playerOneHash + '/' target='_blank') Player one
      li
        a(href!='/api/game/' + playerTwoHash + '/' target='_blank') Player two