#game {
    width: 900px;
    position: relative;
}

#playerHand {
    height: 100px;
    width: 900px;
}

#opponentHand {
    height: 100px;
    width: 900px;
}

.zone {
    min-height: 100px;
    max-width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transition: flex 0.3s ease;
}

.cardHolder {
    position: relative;
    width: 64px;
    height: 90px;    
}

.zone-creatures .cardHolder {
    position: relative;
    width: 80px;
    height: 60px;
    overflow: hidden;
    border-radius: 6px;
}

.zone-creatures .cardHolder img {
    width: 104px;
    height: auto;
    position: relative;
    top: -25px;
    left: -11px;
}

.zone-creatures .cardHolder .cardEnergy {
    top: -7px;
}

.zone-magi .cardHolder {
    position: relative;
    width: 82px;
    height: 82px;
    border-radius: 41px;
    overflow: hidden;
}

.zone-magi .cardHolder img {
    width: 124px;
    height: auto;
    top: -21px;
    left: -20px;
    position: relative;
}

.cardHolder.onPrompt {
    z-index: 120;
}

.cardHolder.available {
    box-shadow: 0px 0 6px 6px green;
}

.cardHolder.target {
    box-shadow: 0px 0 6px 6px red;
}

.cardHolder .cardEnergy {
    position: absolute;
    top: 2px;
    color: lime;
    font-size: 4em;
    width: 100%;
    text-align: center;    
}

.zone img {
    width: 64px;
    height: 90px; 
}

#playerActiveMagi {
    height: 100px;
    width: 900px;
}

#opponentMagi {
    height: 100px;
    width: 900px;
}

.button {
    padding: 9px 17px;
    font-family: Verdana, sans-serif;
    background-color: #D1A53E;
    color: #040403;
    border: 1px solid #E7DCCA;
    border-radius: 3px;
    font-weight: bold;
}

.endgame h1 {
    text-align: center;
    padding-top: 20%;
    font-size: 76px;
}

.endgame h1.win {
    color: gold;
}

.endgame p {
    text-align: center;
    padding-top: 2px;
    font-size: 25px;
}

