#game {
    width: 900px;
    position: relative;
}

#playerHand {
    height: 100px;
    width: 900px;
}

#opponentHand {
    height: 100px;
    width: 900px;
}

.zone {
    min-height: 100px;
    max-width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transition: flex 0.3s ease;
}

.cardHolder {
    position: relative;
    width: 64px;
    height: 90px;    
}

.cardHolder .cardEnergy {
    position: absolute;
    top: 13px;
    color: #f7e73a;
    font-size: 4em;
    width: 100%;
    text-align: center;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.zone-creatures .cardHolder {
    position: relative;
    width: 80px;
    height: 62px;
    overflow: hidden;
    border-radius: 6px;
}

.zone-creatures .cardHolder.relic {
    overflow: hidden;
    height: 100px;
    border-radius: 3px;
}

.zone-creatures .cardHolder img {
    width: 98px;
    height: auto;
    position: relative;
    top: -22px;
    left: -9px;
}
.zone-creatures .cardHolder.relic img {
    width: auto;
    height: 100px;
    top: 0;
    left: 0;
}

.zone-creatures .cardHolder .cardEnergy {
    top: 0px;
    line-height: 68px;
}

.zone-magi .cardHolder {
    position: relative;
    width: 94px;
    height: 94px;
    border-radius: 47px;
    overflow: hidden;
}

.zone-magi .cardHolder img {
    width: 124px;
    height: auto;
    top: -17px;
    left: -15px;
    position: relative;
}

.cardHolder.onPrompt {
    z-index: 120;
}

.cardHolder.available {
    box-shadow: 0px 0 6px 6px green;
}

.cardHolder.target {
    box-shadow: 0px 0 6px 6px red;
}

.zone img {
    width: 64px;
    /* height: 90px;  */
}

.zone.zone-magi {
    height: 110px;
}

#playerActiveMagi {
    height: 100px;
    width: 900px;
}

#opponentMagi {
    height: 100px;
    width: 900px;
}

.button {
    padding: 9px 17px;
    font-family: Verdana, sans-serif;
    background-color: #D1A53E;
    color: #040403;
    border: 1px solid #E7DCCA;
    border-radius: 3px;
    font-weight: bold;
}

.endgame {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial;
}

.endgame h1 {
    text-align: center;
    padding-top: 20%;
    font-size: 76px;
}

.endgame h1.win {
    color: gold;
}

.endgame p {
    text-align: center;
    padding-top: 2px;
    font-size: 25px;
}

