@font-face {
  font-family: Lato;
  src: url('/fonts/Lato/Lato-Regular.ttf');
}

body {
  padding: 50px;
  font: 14px "Lato", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.deckSet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.deck {
  display: flex;
  flex-direction: column;
}

.deck label {
  display: block;
  font-size: 2em;
}

.startConfig {
  width: 350px;
}

.startButton {
  width: 350px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.startButton button[type=submit] {
  padding: 9px 17px;
  width: 170px;
  font-family: Verdana, sans-serif;
  background-color: #D1A53E;
  color: #040403;
  border: 1px solid #E7DCCA;
  border-radius: 3px;
  font-weight: bold;
}

.startConfig fieldset {
  display: flex;
  justify-content: space-between;
}

.loginError {
  display: flex;
  justify-content: space-around;
  height: 50px;
  align-items: center;
  color: red;
  border: 1px solid red;
  margin-top: 20px;
}