.StepBoard {
    position: absolute;
    right: 0;
    top: 145px;
    display: flex;
    flex-direction: column;
    width: 50px;
    border: 0;
    height: 324px;
    justify-content: flex-start;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.cardAbilities {
    font-size: 13px;
    display: none;
    position: absolute;
    bottom: 0;
    left: -50%;
    min-width: 140px;
    background-color: #E7DCCA;
    border-color: #D1A53E;
    color: #040403;
    margin-bottom: 99px;
    padding: 8px;
    border-radius: 7px;
    line-height: 1.25em;
    min-height: 100%;
}

.zone-magi .cardAbilities {
    left: -33%;
}
.cardAbilities p {
    margin: 0;
}

.cardAbilities p + p {
    margin-top: 1em;
}

.cardAbilityHolder {
    position: relative;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial;
}

.cardAbilityHolder .ability .abilityName {
   color: #006CA9;
   font-weight: bold;
   text-decoration: underline;
   cursor: pointer;
}

.cardAbilityHolder .ability.used .abilityName,
.cardAbilityHolder .opponentAbility .abilityName {
    color: #949597;
    font-weight: bold;
    text-decoration: none;
    cursor: default;
 }

.cardAbilityHolder .ability .abilityCost,
.cardAbilityHolder .opponentAbility .abilityCost {
    display: inline-block;
    border-radius: 8px;
    border-color: #333;
    width: 16px;
    height: 16px;
    background-color: #333;
    color: #ccc;
    text-align: center;
}

.cardAbilityHolder .ability.costTooHigh .abilityCost {
    border-color: red;
    background-color: red;
}

.cardAbilityHolder:hover .cardAbilities {
    display: block;
}

.cardAbilityHolder:hover .cardAbilities + .abilityIconHolder > .dragging {
    display: none;
}

.cardView {
    font-size: 13px;
    display: none;
    position: absolute;
    bottom: 0;
    left: -50%;
    min-width: 140px;
    background-color: #E7DCCA;
    margin-bottom: 100px;
    border-radius: 7px;
    line-height: 1.25em;
    height: 293px;
    overflow: hidden;
    animation: fadeInDown .3s;
    z-index: 2;
}

.cardView img {
    width: 200px;
}

.abilityIconHolder .cardName {
    position: absolute;
    left: -100px;
    right: -100px;

    bottom: -25px;

    display: none;
    text-align: center;
    animation: fadeInDown .2s;

    z-index: 1;
}

.abilityIconHolder .cardName .innerName {
    background-color: white;
    padding: 2px 4px;
    border-radius: 3px;
    display: inline-block;
    width: fit-content;
}

.abilityIconHolder:hover .cardName {
    display: block;
}

.cardViewHolder {
    position: relative;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial;
}

.cardViewHolder:hover .cardView {
    display: block;
}

.gameContainer {
    position: relative;
    display: flex;
}

.discardOverlay {
    position: absolute;
    width: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
    height: 80%;
    padding: 10px 30px;
    background-color: #E7DCCA;
    border-color: #D1A53E;
    border-radius: 10px;
    border-width: 1px;
    color: #040403;
}

.discardOverlay .closeIcon {
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 3em;
    cursor: pointer;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,-50px,0);
        transform: translate3d(0,-50px,0)
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,-50px,0);
        transform: translate3d(0,-50px,0)
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

.turnTimer {
    position: absolute;
    top: 300px;
    right: 450px;
    font-weight: bold;
    font-family: "Lato";
}