.cardViewHolder {
    position: relative;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial;
}

.cardViewHolder .cardView {
    display: none;
    position: absolute;
    z-index: 20;
}

.cardView.showOnTop {
    bottom: 50px;
}

.cardView {
    top: 50px;
    border-radius: 13px;
    overflow: hidden;
}

.cardViewHolder:hover .cardView {
    display: block;
}
